.footer-section {
    padding: 120px 80px;
}
.footer-container {
    margin-right: auto;
    margin-left: auto;
}
.footer-nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 80px;
    padding-bottom: 40px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}
.footer-nav-list {
    display: inherit;
}
.footer-nav-list .item {
    margin-right: 100px;
}
.footer-nav-list .item:last-child {
    margin-right: 0;
}

.footer-nav-list a {
    font-weight: bold;
    font-size: 15px;
    line-height: 1.6;
    color: var(--active-btn-color);
}
.footer-icons {
    text-align: center;
    margin-bottom: 40px;
}
.footer-icons a {
    margin-right: 20px;
}
.footer-icons a:last-child {
    margin-right: 0;
}
.footer-copyright {
    text-align: center;
}
